@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colour Palette 
#defcf9
#b7dbd6
#7cc0cf
#90d1c8
#46cebc
#2db479
#65bab3
#243531
*/


/* Custom CSS */

#WelcomeBanner {
    background-color: #7cc0cf;
    color: #243531;
}
#LoginButton {
    background-color: #46cebc;
}
#RegisterButton {
    background-color: #2db479;
}

main {
    background-color: #b7dbd6;
}

nav {
    background-color: #7cc0cf;
}